.education {
  background-color: lightskyblue;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow-y: hidden;
}

.cCwaHK.active {
  background-color: #fff;
  box-shadow: none;
  color: black;
}

.kyLatC, .iGVoNm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}
