.menu {
  width: 300px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  /* background-color: #551A8B; */
  background-color: #032539;
  opacity: 1;
  font-size: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: -300px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 1s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 300;
  color: white;
  width : 60%;
  text-align: center;
  height: fit-content;
}

li {
  margin: 30px 0;
  justify-content: center;
  display: flex;
}

ul > li > span {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.menu.active {
  right: 0;
}

ul > li > span:hover {
  font-weight: 600;
}

.resumeButton {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  background-color: #1C768F;
  color: white;
  font-size: 20px;
  display: flex;
  z-index: 2;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: black 0px 0px 5px;
  border: black 1px solid;
}

.resumeButton:hover {
  background-color: #0f4c5c;
}

.resumeButton:active {
  transform: translateY(4px);
  transition: all 0.1s ease;
}

.downloadIcon {
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100vw;
    right: -100vw;
    transition: all 1s ease;
  }
}