.typewriter {
  width: 100%;
  height: 100%;
}

.typewriterWrapper {
  width: calc(100% - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Slab', sans-serif;
  padding-left: 50px;
}

.typewriterTitle {
  font-size: 35px;

}

.typewriterName {
  font-size: 60px;
  margin: 10px 0;

}
.typewriterSubtitle {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.react-typewriter-text {
  padding-left: 0.4rem;
}

@media screen and (max-width: 1000px) {
  .typewriterWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .typewriterWrapper {
    flex-direction: column;
    width: 100vw;
    padding-left: 20px;
  }
}



