.typewriter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.react-typewriter-text {
  margin-top: 2rem;
  padding: 0.25rem;
}

@media screen and (max-width: 768px) {
  .typewriter {
    flex-direction: column;
  }
  .react-typewriter-text {
    margin-top: 0;
  }
}

