.about {
  background-color: whitesmoke;
  height: calc(100vh - 2.5rem);
  min-height: 32.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: start;
  margin:0 auto;
  font-family: "Roboto slab", sans-serif;
  font-weight: 400;
  padding-top: 2.5rem;
  scroll-snap-type: y mandatory; /* Tried mandatory, but it jumped to next section always with mousewheel*/
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.about h1 {
  font-size: 3.125rem;
  margin-bottom: 1rem;
  color: #032539;
}

.aboutLeft {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 25rem;
}

.aboutRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.aboutContainer {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
}

.aboutDescription {
  display: flex;
  flex-direction: column;
  font-family: "Roboto slab", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1rem;
  margin: 0;
  color: #032539;
  text-align: justify;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  margin: 1rem 0.5rem 0 0.5rem;
  width: 2rem;
  height: 2rem;
  color: #032539;
  transition: all 0.3s ease-in-out;
}

.links:hover {
  opacity: 0.7;
}

.aboutImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 20rem;
  transform: rotate(10deg);
  border: 0.1rem solid #032539;
  box-shadow: black 0px 0px 0.25rem;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: #FA991C;
  transform: rotate(-10deg);
  overflow: visible;
  border:  .05rem solid #1C768F;
  box-shadow: black 0px 0px 0.25rem;
}

/* @media screen and (orientation: portrait) {
  .about {
    padding: 0;
  }
  .aboutDescription {
    font-size: 0.7rem;
  }

  .aboutContainer {
    flex-direction: column;
    width: 85%;
  }

  .about h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .aboutImg {
    margin: 0;
    padding: 0;
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }
} */

@media screen and (orientation: landscape) {
  /* .about {
    padding: 0;
  }
  .aboutDescription {
    font-size: 0.7rem;
  }

  .aboutContainer {
    flex-direction: row;
    width: 85%;
  }

  .about h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    height: 65px;
  }

  .aboutImg {
    margin: 0;
    padding: 0;
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  } */
}