.about {
  background-color: #1C768F;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  margin:0 auto;
  font-family: "Roboto slab", sans-serif;
  font-weight: 400;
}

.about h1 {
  font-size: 3.125rem;
  margin-bottom: 1rem;
  color: #f5f5f5;
}


.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 40%;
  max-width: 1200px;
  margin: 20px;
}

.aboutDescription {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 20px;
  margin: 0;
  color: #032539;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  margin: 20px 10px 0 10px;
  width: 40px;
  height: 40px;
  color: #032539;
  transition: all 0.3s ease-in-out;
}

.links:hover {
  opacity: 0.7;
}

.aboutImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
}

@media screen and (orientation: portrait) {
  .about {
    padding: 0;
  }
  .aboutDescription {
    font-size: 0.7rem;
  }

  .aboutContainer {
    flex-direction: column;
    width: 85%;
  }

  .about h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .aboutImg {
    margin: 0;
    padding: 0;
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

@media screen and (orientation: landscape) {
  /* .about {
    padding: 0;
  }
  .aboutDescription {
    font-size: 0.7rem;
  }

  .aboutContainer {
    flex-direction: row;
    width: 85%;
  }

  .about h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    height: 65px;
  }

  .aboutImg {
    margin: 0;
    padding: 0;
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  } */
}